/* 
	Made by: Jhaime Cando
	FOR EDUCATIONAL PURPOSES ONLY
*/

/* Base
========================================= */

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--section-color: rgba(255, 0, 0, 0.1);
	--nav-font: 'Merriweather', serif;
	--p-font: 'Noto Sans KR', sans-serif;
	--h1-h2-font: 'Playfair Display', serif;
	--submit-color: rgba(255, 0, 0, 0.5);
	--submit-hover-color: rgba(255, 0, 0, 1);
}

html {
	font-size: 10px;
}

body, html {
	width: 100%;
	padding: 0;
}

/* header
========================================= */

#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-bottom: 2px solid black;
	padding: 0;
	margin: 0;
}

#header-img {
	width: 7%;
	margin: 0;
}

#nav-bar ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
}

#nav-bar ul li {
	font-family: var(--nav-font);
	font-size: 2rem;
}

#nav-bar ul li a {
	text-decoration: none;
	color: black;
}

/* section 1 / product
========================================= */

.section-1 {
	margin-top: 20rem;
	text-align: center;
	width: 100%;
}

#product {
	display: block;
	font-family: var(--p-font);
	font-size: 5rem;
	margin: 0 7rem;
}

#product p span {
	font-weight: bold;
	text-transform: capitalize;
}

iframe {
	margin-top: 7rem;
	margin-bottom: 10rem;
}


/* section 2 / features
========================================= */

.section-container {
	width: 84.375%;
	background-color: var(--section-color);
	display: block;
	margin: 0 auto 0 auto;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#features, #pricing {
	text-align: center;
}

h1, h2 {
	font-family: var(--h1-h2-font);
	text-transform: capitalize;
	font-weight: lighter;
}

h1 {
	font-size: 9rem;
	margin-top: 9rem;
	margin-bottom: 7rem;
}

.fa-gem, 
.fa-dollar-sign, 
.fa-pencil-ruler {
	font-size: 11rem;
	margin-top: 5rem;
}

.features-list div p{
	font-family: var(--p-font);
	font-weight: lighter;
	margin: 0 25rem 6rem 25rem;
	font-size: 2.1rem;
	margin-top: 0;
}

.pricing-list div p {
	font-family: var(--p-font);
	font-weight: lighter;
	font-size: 2rem;
	margin: 0 7rem 6rem 7rem;
}

.features-list div h2, .pricing-list div h2{
	font-size: 5rem;
	margin-bottom: 0;
	margin-top: 0;
}

.pricing-list, .features-list {
	display: flex;
	width: 100%;
}

.features-list {
	flex-direction: column;
}

.pricing-list {
	flex-direction: row;
	justify-content: center;
}


/* form
========================================= */

#form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form label {
	font-family: var(--h1-h2-font);
	font-size: 5rem;
	margin-top: 10rem;
}

#email {
	background-color: gray;
	width: 60rem;
	height: 5rem;
	outline: none;
	border: none;
	border-radius: 10px;
	margin-bottom: 2rem;
	text-align: center;
	font-family: var(--p-font);
	font-size: 2.5rem;
}

#email::placeholder {
	color: white;
}

#email:focus {
	background-color: white;
	border: 1px solid black;
}

#email:hover {
	opacity: 0.5;
}

#submit {
	width: 15rem;
	height: 3rem;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: var(--submit-color);
	font-family: var(--h1-h2-font);
	font-size: 2rem;
	margin-bottom: 10rem;
}

#submit:hover,
#submit:active,
#submit:visited {
	background-color: var(--submit-hover-color);
}

#submit:focus::placeholder,
#submit:active::placeholder,
#submit:hover::placeholder {
	color: black;
}

@media (max-width: 768px){

	.section-1 {
		margin-top: 10rem;
	}

	#product p {
		font-size: 2rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.section-container {
		width: 84.375%;
		margin: 0 auto 0 auto;
		padding-top: 3rem;
		padding-bottom: 5rem;
	}

	h1 {
		font-size: 5rem;
		margin-top: 4rem;
		margin-bottom: 0;
	}

	.fa-gem, 
	.fa-dollar-sign, 
	.fa-pencil-ruler {
		font-size: 6rem;
		margin-top: 3rem;
	}

	.features-list div p{
		margin: 0;
		font-size: 1.7rem;
		margin-top: 0;
	}

	.pricing-list div p {
		font-size: 2rem;
		margin: 0;
	}

	.features-list div h2, .pricing-list div h2{
		font-size: 3rem;
		margin-bottom: 0;
		margin-top: 0;
	}

	.pricing-list, .features-list {
		display: flex;
		width: 100%;
	}

	.features-list {
		flex-direction: column;
	}

	.pricing-list {
		flex-direction: column;
		justify-content: center;
	}

	#form label {
		font-size: 4rem;
		margin-top: 10rem;
	}

	#email {
		width: 30rem;
		height: 5rem;
		outline: none;
		border: none;
		border-radius: 10px;
		margin-bottom: 2rem;
		text-align: center;
	}
}

@media (max-width: 425px){
	iframe {
		width: 70%;
		height: auto;
	}

	.section-container {
		width: 100%;
		margin: 0;
	}

	#form label {
		font-size: 3rem;
	}

	#email {
		height: 3rem;
	}

	#email {
		font-size: 1.5rem;
	}
}