/*
	Coded by: Jhaime Cando
*/

/*Base
===============================================================*/

:root {
	--nav-bg: #290C00;
	--border-color: #603002;
	--big-font:'Roboto', sans-serif;;
	--small-font: 'Noto Sans JP', sans-serif;
	--nav-flex-row: row;
	--nav-flex-column: column;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}


body {
	width: 100%;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

/*Body
===============================================================*/

#navbar {
	background-color: var(--nav-bg);
}

header {
	font-family: var(--big-font);
	font-weight: bold;
}

#navbar header {
	text-align: center;
}

#navbar ul li {
	margin-bottom: 10px;
}

#navbar ul {
	margin-top: 30px;
}

ul, p, ol, dl {
	font-family: var(--small-font);
}

.nav-link {
	color: white;
}

.nav-link:hover,
.nav-link:active {
	text-decoration: underline;
	color: #c67b00;
}

body {
	display: flex;
	flex-direction: var(--nav-flex-column);
}

#Reference a:hover {
	text-decoration: underline;
}

#Reference a:active {
	color: red;
}


/*Base
==================================================*/
html {
	font-size: 10px;
}

/*Nav
==================================================*/
#navbar {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 225px;
	border-bottom: 4px solid var(--border-color);
}

@media only screen and (min-width: 375px) {
	html {
		font-size: 11px;
	}

	#navbar {
		height: 250px;
	}

	@media only screen and (min-width: 425px){
		html {
			font-size: 12px;
		}

		#navbar {
			height: 275px;
		}
	}
}

#navbar header {
	font-size: 4rem;
	margin-top: 25px;
	color: #F7c01D;
	text-shadow: 2px 1px 5px #C67B00;
}

.nav-link {
	font-size: 2rem;
}

/*Main doc
===================================================*/
#main-doc {
	padding: 15px;
}

#main-doc header {
	font-size: 2rem;
	text-decoration: underline;
}

#main-doc p {
	font-size: 1em;
}

.main-section {
	margin-bottom: 3rem;
}

@media only screen and (min-width: 768px){
	body {
		flex-direction: var(--nav-flex-row);
	}

	#navbar {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 200px;
		top: 0;
	}

	#navbar header {
		font-size: 2rem;
	}

	.nav-link {
		font-size: 1rem;
	}

	#main-doc {
		margin-left: 200px;
	}

	@media only screen and (min-width: 1440px) {
		html {
			font-size: 20px;
		}
		#navbar {
			overflow-y: scroll;
			width: 300px;
		}

		#navbar header {
			font-size: 2rem;
		}

		.nav-link {
			font-size: 1rem;
		}

		#main-doc {
			margin-left: 300px;
		}

		@media only screen and (min-width: 2560px) {
			html {
				font-size: 35px;
			}

			#navbar {
				width: 500px;
			}

			#main-doc {
				margin-left: 500px;
			}
		}
	}
}

