 /* Code by: Jhaime Cando */

/* Custom properties/variables */
:root {
	--nav-foot-bg: #5C5F58;
	--body-bg: linear-gradient(#DCE1E3, #5C5F58);
	--project-tile-bg: #004E7C;
	--contacts-bg: #591C0B;
}
/* Base reset */
* {
	margin: 0;
	padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em){
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 45%;
  }
}

/* base style */
body {
	background: var(--body-bg);
	width: 100%;
	height: 100%;
}

h1, 
h2, 
h3, 
p {
	text-align: center;
}

h1 {
	font-family: 'Bodoni Moda', serif;
	font-size: 7rem;
	font-weight: 500;
}

h2 {
	font-family: 'Lora', serif;
	font-size: 5rem;
	font-weight: lighter;
	text-decoration: underline;
}

h3, 
.navbar {
	font-family: 'Playfair Display', serif;
}

.navbar {
	font-size: 2rem;
	position: fixed;
	display: flex;
	justify-content: flex-end;
	top: 0;
	left: 0;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	width: 100%;
	z-index: 5;
}

.navbar,
.footer {
	background-color: var(--nav-foot-bg);
}

h3 {
	font-size: 3rem;
}

h3:last-child {
	font-size: 2rem;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
}

.navbar ul {
	display: flex;
	margin-right: 3rem;
}

@media (max-width: 61.25em){
	.navbar {
		display: block;
	}

	.navbar ul {
		justify-content: space-around;
	}
}

.navbar ul li {
	list-style-type: none;
}

.navbar ul li a {
	display: block;
	align-items: center;
	padding: 1.5rem;
}

@media (max-width: 61.25em){
	.navbar ul li {
		padding: 1rem 0;
	}
}

.navbar ul li a:hover,
.navbar ul li a:active {
	background-color: #004E7C;
	animation-timing-function: ease-out;
	transition: 0.2s;
}

/* .welcome-section */
.welcome-section{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0;
	grid-row-gap: 0;
	grid-template-areas:
		". . . ."
		". name name ."
		". par par ."
		". . . .";
}

.welcome-section h1 {
	grid-area: name;
	align-self: flex-end;
}

.welcome-section p {
	grid-area: par;
}

/* Projects*/
.projects {
	width: 100%;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
	grid-gap: 3rem;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 6rem;
	margin-top: 6rem;
	justify-content: center;
}

@media (max-width: 28.75em) {
	.project-grid {
		display: grid;
		grid-template-columns: repeat(1fr);
	}
}

img {
	width: 100%;
	height: 400px;
	max-height: 400px;
	border-radius: 2rem 2rem 0 0;
}

img:hover {
	opacity: 0.8;
}

.project-tile {
	background-color: var(--project-tile-bg);
	display: block;
	width: 350px;
	max-width: 350px;
	margin: 0 auto;
	border-radius: 2rem;
}

.project-tile:hover {
	background-color: var(--contacts-bg);
	animation-timing-function: ease;
	transition: 0.7s;
}

.project-tile a, a {
	text-decoration: none;
	color: black;
}


.project-tile a h3 {
	margin: 0.7rem 0;
}

/* Contacts */
.contacts {
	background-color: var(--contacts-bg);
	margin-top: 20rem;
	padding-top: 4rem;
}

.contact-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 4rem 0;
}

.contact-list a i {
	font-size: 7rem;
	display: block;
}

.contact-list a {
	display: block;
	margin-right: 7rem;
	margin-bottom: 10rem;
}

.contact-list a:last-child {
	margin-right: 0;
}

@media (max-width: 61.25em) {

	.contact-list a {
		margin-right: 0;
		margin-bottom: 5rem;
	}

	.contact-list a i {
		font-size: 10rem;
	}

	.contact-list {
		flex-direction: column;
		align-items: center;
	}
}

.contact-list a:hover {
	color: var(--project-tile-bg);
	transform: scale(1.1);
	transition-timing-function: ease-in;
	transition: 0.5s;
}

.contact-list a:active {
	transform: scale(0.4);
}


/* media query fonts sizes at different screen size*/
/* 460px: Mobile devices 28.75em */
/* 980px: iPads, Tablets 61.25em */
/* 1200px: Small screens, laptops 75em */