/* 
Coded by: Jhaime Cando
*/

/* Base
===================================================================================================== */
:root {
	--color-container: linear-gradient(#481AFF, #7857FD, #A793F6, #E9E3FF);
	--color-form: rgba(255, 255, 255, 0.4);
	--color-dropdown: #C4C4C4;
	--color-textarea-border: #2400FF;
	--color-btn: rgba(143, 125, 255, 1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
}


/* Body
===================================================================================================== */

/* .container */
.container {
	background: var(--color-container);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.title-form {
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	font-size: 7.5rem;
	margin-top: 9rem;
	margin-bottom: 0;
	text-align: center;
}

.details {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3.3rem;
	margin-top: 1.2rem;
	text-align: center;
}

/* .survey-container */
.survey-container {
	background: var(--color-form);
	display: block;
	padding: 2rem 4.5rem 4.5rem 4.5rem;
	margin-top: 5rem;
	margin-bottom: 15rem;
	border-radius: 2rem;
	width: 75%;
}

.label {
	font-family: 'Open Sans', sans-serif;
	display: block;
	font-size: 3.5rem;
	margin-top: 3rem;
}

#name,
#email,
#number,
#dropdown {
	height: 3.5em;
	padding-left: 2em;
	border: none;
	border-radius: 10px;
	outline: none;
}

#name,
#email,
#number {
	width: 100%;
}

#name:focus, 
#email:focus, 
#number:focus,
#dropdown:focus {
	box-shadow: 5px 5px 1px gray;
	transition: 0.2s;
}

#dropdown {
	width: 50%;
	cursor: pointer;
}

/* .sleep-container & .food-container */
.sleep-container .label {
	margin-bottom: 0;
}

.sleep-name, .food-name {
	display: block;
	margin-top: 1rem;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;
	font-weight: 500;
}

.sleep-name:hover, .food-name:hover {
	text-decoration: underline;
	text-decoration-color: #491cfe;
}

.sleep-name input[type=radio], .food-name input[type=checkbox] {
	margin-right: 2rem;
	margin-left: 4rem;
}

/* .text-area */
textarea {
	background: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	border: 1px solid var(--color-textarea-border);
	border-radius: 20px;
	width: 75%;
	min-height: 300px;
	max-height: 500px;
	margin-top: 3rem;
	padding: 2rem;
	outline: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	resize: vertical;
}

@media (max-width: 785px) {

	.title-form {
		font-size: 6rem;
	}

	.details {
		font-size: 1.5rem;
	}

	.survey-container {
		width: 100%;
	}

	.label {
		font-size: 2rem;
	}

	#name,
	#email,
	#number,
	#dropdown {
		height: 3rem;
		border-radius: 7px;
	}

	#dropdown {
		padding-left: 0;
	}

	.sleep-name, .food-name {
		font-size: 1.5rem;
	}

	.sleep-name input[type=radio], .food-name input[type=checkbox] {
		margin-right: 0.3rem;
		margin-left: 0;
	}

	textarea {
		font-size: 1rem;
		width: 100%;
		border-radius: 10px;
		min-height: 200px;
		max-height: 300px;
	}
}


@media (max-width: 468px) {
	.survey-container {
		margin-bottom: 0;
	}

	.title-form{
		font-size: 4rem;
	}

	.survey-container {
		width: 100%;
	}

	.label {
		font-size: 2rem;
	}

	#name,
	#email,
	#number,
	#dropdown {
		height: 3rem;
		border-radius: 7px;
	}

	#dropdown {
		padding-left: 0;
	}

	.sleep-name, .food-name {
		font-size: 1.5rem;
	}

	.sleep-name input[type=radio], .food-name input[type=checkbox] {
		margin-right: 0.3rem;
		margin-left: 0;
	}

	textarea {
		font-size: 1rem;
		width: 100%;
		border-radius: 10px;
		min-height: 100px;
		max-height: 200px;
	}
}

#submit {
	font-family: 'Lato', sans-serif;
	font-size: 3rem;
	background: var(--color-btn);
	border: none;
	border-radius: 10px;
	outline: none;
	width: 17rem;
	height: 5rem;
	display: block;
	margin: 6rem auto 2.7rem auto;
}

#submit:hover {
	background: #7554fd;
	box-shadow: 0 5px 1px gray;
	transform: translateY(-5px);
}

#submit:active {
	background: #491cfe;
	box-shadow: 0 1px gray;
	transform: translateY(4px);
}